<!doctype html>
<html>

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

    <div>
        <header class="relative bg-indigo-400 w-full" x-data="{ isOpen: false }">
            <%- include('partials/header'); %>
        </header>

        <section class="w-full relative flex items-center justify-center h-screen">
            <img src="storage/dishlist.png" class="z-0 absolute h-full">
            <div class="z-10 text-center">
                <p class="text-xl font-medium tracking-wider text-gray-300">Lorem ipsum dolor</p>
                <h2 class="mt-6 text-3xl font-bold text-white md:text-5xl">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit</h2>

            </div>
        </section>

        <section class="bg-white">
            <div class="ml-40 max-w-6xl px-6 py-16 mx-auto">

                <input type="text" placeholder="enter Text" name="dishname" required><br><br>
                <input type="text" placeholder="enter Text" name="dishDescription" required><br><br>
                <input type="text" placeholder="enter Text" name="dishname" required><br><br>
                <input type="text" placeholder="enter Text" name="dishname" required><br><br>

            </div>
        </section>

        <footer class="border-t">
            <%- include('partials/footer'); %>
        </footer>
    </div>
</body>

</html>