<!doctype html>
<html>

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

    <div>
        <header class="relative bg-indigo-400 w-full" x-data="{ isOpen: false }">
            <%- include('partials/header'); %>
        </header>

        <section class="relative flex items-center justify-center h-screen w-full">
            <img src="storage/home.png" class="z-0 absolute h-full w-full">
            <div class="z-10 text-center">
                <h2 class="mt-6 text-3xl text-white md:text-4xl">PERSONALIZE YOUR EXPERIENCE</h2>
                <h2 class="mt-6 text-3xl font-bold text-white md:text-5xl">Learn Your Favorite Filipino Dishes</h2>

                <div class="flex justify-center mt-8">
                    <a class="px-8 py-2 text-lg font-medium text-white transition-colors duration-300 transform border rounded hover:bg-black" href="/generate">Generate Dishes</a>
                </div>
            </div>
        </section>


        <section class="bg-white">
            <div class="max-w-5xl px-6 py-16 mx-auto">
                <div class="items-center md:flex md:space-x-6">
                    <div class="md:w-1/2">
                        <h3 class="text-4xl font-semibold text-black">Filipino Cuisine</h3>
                        <p class="max-w-md mt-4 text-gray-600">Filipino cuisine is composed of the cuisines of more than a hundred distinct ethno-linguistic groups found throughout the Philippine archipelago. However, a majority of mainstream Filipino dishes that compose Filipino cuisine are from the cuisines of the various ethnolinguistic groups and tribes of the archipelago, including the Ilocano, Pangasinan, Kapampangan, Tagalog, Bicolano, Visayan (Cebuano, Hiligaynon and Waray), Chavacano and Maranao ethno-linguistic groups. The style of food making and the food associated with it have evolved over many centuries from their Austronesian origins (shared with Malaysian and Indonesian cuisines) to a mixed cuisine of Indian, Chinese, Spanish and American influences, in line with the major waves of influence that had enriched the cultures of the archipelago, as well as others adapted to indigenous ingredients and the local palate.</p>
                    </div>

                    <div class="mt-8 md:mt-0 md:w-1/2">
                        <div class="flex items-center justify-center">
                            <div class="max-w-md">
                                <img class="object-cover object-center w-full rounded-md shadow" style="height: 500px;" src="storage/FilipinoCuisine1.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-white">
            <div class="max-w-5xl px-6 py-16 mx-auto">
                <div class="items-center md:flex md:space-x-6">
                    <div class="md:w-1/2">
                        <div class="flex items-center justify-center">
                            <div class="max-w-md">
                                <img class="object-cover object-center w-full rounded-md shadow" style="height: 500px;" src="storage/FilipinoCuisine2.jpg">
                            </div>
                        </div>
                    </div>

                    <div class="mt-8 md:mt-0 md:w-1/2">
                        <p class="max-w-md mt-4 text-gray-600">Dishes range from the very simple, like a meal of fried salted fish and rice, to fish curry, chicken curry, complex paellas and cozidos of Iberian origin created for fiestas. Popular dishes include: lechón (whole roasted pig), longganisa (Philippine sausage), tapa (cured beef), torta (omelette), adobo (chicken or pork braised in garlic, vinegar, oil and soy sauce, or cooked until dry), dinuguan (pork blood stew), kaldereta (meat stewed in tomato sauce and liver paste), mechado (larded beef in soy and tomato sauce), pochero (beef and bananas in tomato sauce), afritada (chicken or pork and vegetables simmered in tomato sauce), kare-kare (oxtail and vegetables cooked in peanut sauce), pinakbet (kabocha squash, eggplant, beans, okra, and tomato stew flavored with shrimp paste), crispy pata (deep-fried pig's leg), hamonado (pork sweetened in pineapple sauce), sinigang (meat or seafood in sour broth), pancit (noodles), and lumpia (fresh or fried spring rolls). Various food scholars have noted that Filipino cuisine is multi-faceted and is the most representative in the culinary world for food where "east meets west".</p>
                    </div>
                </div>
            </div>
        </section>

        <footer class="border-t">
            <%- include('partials/footer'); %>
        </footer>
    </div>
</body>

</html>